<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/salt_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3" style="margin-top: -98px !important;">
            <div class="card tagcard" style="background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p class="tagline">Preparing For Life</p>
              </div>
            </div>
          </div>
          <p class="intro">The SALT (Single Adults Living Testimony) group was birthed with a heart to journey alongside single individuals in a season often overlooked, yet rich with purpose and potential.</p>
          <p class="intro">Our vision is to create a Christ-centered community where singles are seen, valued, and empowered to thrive spiritually, emotionally, and relationally. SALT exists to encourage individuals to walk confidently in their God-given identity, grow deeper in their faith, and live as a testimony of God’s grace, impacting their circles with authenticity, boldness, and hope.</p>
      </div>
  </div>

  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start" style="padding-top: 0px; margin-top: 0px;">Vision</h3>
            <ul style="padding-left: 1rem;">
              <li><b>Christ-Centered Community:</b>
Foster a supportive and inclusive community where unmarried individuals are seen, valued, and encouraged in their walk with Christ.</li>
              <li><b>Purposeful Singleness:</b>
Affirm singleness as a season of intentional living—marked by growth, testimony, and wholehearted pursuit of Jesus.To encourage a wholehearted pursuit of Christ, embracing this season with purpose and passion.</li>
              <li><b>Discipleship Journey:</b>
Encourage deeper intimacy with God through the Word, prayer, and worship—equipping individuals to grow in faith and walk daily with Him.To affirm that this season of singleness is not one of waiting, but of purposeful living and testimony.</li>
              <li><b>Authentic Relationships:</b>
Create safe spaces for honest conversations and meaningful connections rooted in encouragement, accountability, and godly love.To teach and equip individuals through the Word of God, strengthening their faith and daily walk.</li>
              <li><b>Empowered Living & Service:</b>
Equip individuals to operate in their spiritual gifts, live out their purpose, and be bold witnesses of Christ’s grace in the Church and beyond.To create opportunities to discover and operate in spiritual gifts, serving both the Church and those in need.</li>
            </ul>
        </div>
        <div class="col-md-8" style="margin-top: 2em;">
           <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/salt/salt_1.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/salt/salt_2.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/salt/salt_3.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/salt/salt_4.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/salt/salt_5.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
           <ng-template ngbSlide>
              <img src="assets/img/salt/salt_6.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/salt/salt_7.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
           <!-- <ng-template ngbSlide>
              <img src="assets/img/youth/youth8.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template> -->
          </ngb-carousel> 
        </div>
      </div>
    </div>
  </div>

<!-- Details -->
<div class="section section-testimonials " style="background-color: #E5EDFF;">
  <div class="container">
        <div class="row mx-1 mx-md-3">
          <div class="col-md-6">
            <img src="assets/img/salt/salt_8.webp" alt="" class="img rounded pb-3">
          </div>
          <div class="col-md-6" style="align-self: center;">
            <h3 class="title text-dark text-start pt-0 mt-0 mb-1">SALT</h3>
            <h6>BETWEEN 31 - 48 YRS</h6>
            <p class="text-start">You’re not just welcome — you’re wanted. Join a community of Christ-following singles embracing this season with passion, purpose, and joy.</p>
            <p><b>Purpose meets passion here — your season starts now.</b></p>
            <h6>They meet every alternate SUNDAY at 5:00 pm.</h6>
            <hr>
            <h6>Contact</h6>
                    <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                    <h5 class="text-start" style="font-weight: 700;">Shakena</h5>
            <a type="button" class="btn text-dark" href="tel:+919591577168" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 76709 21574</a>
          </div>
        </div>
  </div>
</div>

</div>
